# kate backup files
.*~
.*
.%*%~
# Build artifacts (Qt)
*.o
*.user
*.moc
moc_*.cpp
qrc_*.cpp

showmeeverything_gui

# Python
__pycache__/
*.pyc

# Misc
.DS_Store
*.txt
*.cflags
*.config
*.creator
*.cxxflags
*.includes
