# kate backup files
.*~
.*
.%*%~
# Build artifacts (Qt)
*.o
*.user
*.moc
moc_*.cpp
qrc_*.cpp
*.
*.cache
*.idx
# Python
__pycache__/
*.pyc

# Misc
.DS_Store
*.txt
*.cflags
*.config
*.creator
*.cxxflags
*.includes
*.o
moc_*
qrc_*
Makefile
showmeeverything_gui

