[Desktop Entry]
Categories=Utility
Comment[en_US]=Powerful System Search Engine, QML/C++ KDE NAtive
Comment=Powerful System Search Engine, QML/C++ KDE NAtive
Exec=/usr/local/bin/showmeeverything_qml
GenericName[en_US]=System Search Engine
GenericName=System Search Engine
Icon=/usr/local/share/icons/showMeEverything.png
Name[en_US]=Show Me Everything
Name=Show Me Everything
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
# SME_SIGNATURE=gr00t-user-706
# Version v1.0.1
