[Desktop Entry]
Categories=Utility;System;
Comment[en_US]=Powerful System Search Engine Fallback Window
Comment=Powerful System Search Engine Fallback Window
Exec=/usr/local/bin/showmeeverything_tk.py
GenericName[en_US]=system_search
GenericName=system_search
Icon=/usr/local/share/icons/showMeEverything.png
MimeType=
Name[en_US]=ShowMeEverything Fallback
Name=ShowMeEverything Fallback
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
#PY TK GUI
