[Desktop Entry]
Categories=Utility;System;
Comment[en_US]=Powerful System Search Engine, QML/C++ KDE NAtive
Comment=Powerful System Search Engine, QML/C++ KDE NAtive
Exec=/usr/local/bin/showmeeverything_gui
GenericName[en_US]=
GenericName=
Icon=/usr/local/share/icons/showMeEverything.png
MimeType=
Name[en_US]=Show Me Everything
Name=Show Me Everything
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
#QML GUI
